@import url(https://fonts.google.com/specimen/Montserrat);
@import url(https://fonts.google.com/specimen/Fraunces);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(30, 38%, 92%);
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left:auto;
    margin-right: auto;
    margin-top: 25vh;
    border-radius: 13px;
}
.container .img-container img{
    height: 60vh;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.container .img-container-2{
    display: none;
}
.container .info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 27px;
    background-color: hsl(0, 0%, 100%);
    width: 280px;
}
.container .info-container h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    color: hsl(212, 21%, 14%);
    opacity: 0.6;
}
.container .info-container h3{
    font-family: 'Fraunces', serif;
    font-size: 35px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.6);
}
.container .info-container .descrip{
    font-family: 'Montserrat', sans-serif;
    opacity: 0.8;
    color: hsl(212, 21%, 14%);
}
.container .info-container .precio span{
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size:35px;
    font-weight: bold;
    text-shadow: 1px 1px 0px hsl(158, 36%, 37%);
}
.container .info-container .precio del{
    padding: 13px;
    position: relative;
    bottom: 7px;
    opacity: 0.7;
}
.container .info-container .btn{
    background-color:hsl(158, 36%, 37%) ;
    color: hsl(0, 0%, 100%);
    padding: 13px;
    border-radius: 10px;
    border:none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
}
.container .info-container .btn:hover{
    cursor: pointer;
}
.attribution{
    position: absolute;
    bottom: 15px;
    left: 15px;
}
@media screen and (min-width:320px ) and (max-width:580px) {
    .container{
        flex-direction: column;
        align-items: center;
        background-color: hsl(0, 0%, 100%);
        width: min-content;
        margin-top: 25px;
    }
    .container .img-container img{
        display: none;
    }
    .container .img-container-2{
        display: block;

    }
    .container .img-container-2 img{
        height: 230px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        width: 280px;
}
.container .info-container{
    height: 400px;
    text-align: center;
}
    }
